h1 {
    font-family: 'Kumbh Sans', sans-serif;
    background: #3a3a3a;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home, .register {
    position: fixed;
    right: 0;
    top: 0;
    width: 100px;
}

.register {
    top: 50px;
}

input,
select {
    margin: 10px auto;
    padding: 10px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

.pageBTNS {
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
}

.pageBTNS button {
    margin-top: 10px;
}

button {
    background: #ff5e7d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}

button:hover {
    background-color: #a86af4 ;
    transition: background-color 0.3s ease;
}