#clock {
    font-size: 30px;
    width: 250px;
    position: fixed;
    right:0;
    bottom: 0;
    margin-bottom: 100px;
    margin-right: 40px;
    text-align: center;
    border: 2px solid black;
    border-radius: 8px;
    z-index: 199;
}

#data {
    font-size: 16px;
    width: 250px;
    position: fixed;
    right:0;
    bottom: 0;
    margin-bottom: 50px;
    margin-right: 40px;
    text-align: center;
    z-index: 199;
}

@media (max-width: 800px) {
    #clock{
        visibility: hidden;
    }

    #data {
        visibility: hidden;
    }
}

@media (max-height: 650px) {
    #clock{
        visibility: hidden;
    }

    #data {
        visibility: hidden;
    }
}