/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }
    .sidebar{
      position: fixed;
      height: 100%;
      width: 240px;
      background: #0A2558;
      transition: all 0.5s ease;
    }
    .sidebar.active{
      width: 60px;
    }
    .sidebar .logo-details{
      height: 80px;
      display: flex;
      align-items: center;
    }
    .sidebar .logo-details i{
      font-size: 28px;
      font-weight: 500;
      margin-top: 10px;
      color: #fff;
      min-width: 60px;
      text-align: center
    }
    .sidebar .logo-details .logo_name{
      color: #fff;
      font-size: 24px;
      font-weight: 500;
    }
    .sidebar .nav-links{
      margin-top: 10px;
    }
    .sidebar .nav-links li{
      position: relative;
      list-style: none;
      height: 50px;
    }

    .sidebar .nav-links li button{
          background: #0A2558;
          width: 100%;
          position: relative;
          list-style: none;
          border: none;
          height: 50px;
        }

    .sidebar .nav-links li a{
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: all 0.4s ease;
    }
    .sidebar .nav-links li a.active{
      background: #081D45;
    }
    .sidebar .nav-links li a:hover{
      background: #081D45;
    }
    .sidebar .nav-links li i{
      min-width: 60px;
      text-align: center;
      font-size: 18px;
      color: #fff;
    }
    .sidebar .nav-links li a .links_name{
      color: #fff;
      font-size: 15px;
      font-weight: 400;
      white-space: nowrap;
    }
    .sidebar .nav-links .log_out{
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    .home-section{
      position: relative;
      background: #f5f5f5;
      min-height: 100vh;
      width: calc(100% - 240px);
      left: 240px;
      transition: all 0.5s ease;
    }
    .sidebar.active ~ .home-section{
      width: calc(100% - 60px);
      left: 60px;
    }
    .home-section nav{
      display: flex;
      justify-content: space-between;
      height: 80px;
      background: #fff;
      display: flex;
      align-items: center;
      position: fixed;
      width: calc(100% - 240px);
      left: 240px;
      z-index: 100;
      padding: 0 20px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      transition: all 0.5s ease;
    }
    .sidebar.active ~ .home-section nav{
      left: 60px;
      width: calc(100% - 60px);
    }
    .home-section nav .sidebar-button{
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: 500;
    }

    nav .sidebar-button i{
      font-size: 35px;
      margin-right: 10px;
    }

    .home-section nav .profile-details{
      display: flex;
      align-items: center;
      background: #F5F6FA;
      border: 2px solid #EFEEF1;
      border-radius: 6px;
      height: 50px;
      min-width: 190px;
      padding: 0 15px 0 2px;
    }
    nav .profile-details img{
      height: 40px;
      width: 40px;
      border-radius: 6px;
      object-fit: cover;
    }
    nav .profile-details .admin_name{
      font-size: 15px;
      font-weight: 500;
      color: #333;
      margin: 0 10px;
      white-space: nowrap;
    }
    nav .profile-details i{
      font-size: 25px;
      color: #333;
    }

    .home-section .home-content{
      position: relative;
      padding-top: 110px;
    }

    .cardResize{
        position: relative;
        margin-left: 80%;
    }

    .card {
      border-style: solid;
      border-width: 0.5px 0.5px 0.5px 0.5px;
      border-color: rgba(10,37,88, 0.5);
      position: absolute;
      max-width: 300px;
      text-align: center;
    }

    .card .title {
      color: grey;
      font-size: 18px;
      padding-top: 10px;
    }

     .card .title2 {
        font-height: 1200;
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
     }

    .card button:hover, a:hover {
      opacity: 0.7;
    }

    .popup{
        width: 400px;
        background: #fff;
        border-radius: 6px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1);
        text-align: center;
        padding: 10px 30px 30px;
        visibility: hidden;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        transition: transform 0.4s;
    }

    .open-popup{
        visibility: visible;
        transform:  translate(-50%, -50%) scale(1.05);
    }

    .popup button{
        width: 25%;
        margin-top: 20px;
        padding: 10px 0;
        background: #0A2558;
        color: #fff;
        font-size: 14px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }

    .popup .loading-icon {
          width: 50px;
          height: 50px;
          margin-left: 40%;
          border: 4px solid #f3f3f3;
          border-top: 4px solid #3498db;
          border-radius: 50%;
          animation: spin 1s linear infinite;
        }

        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }

    .openLoadingPopup{
        visibility: visible;
        transform:  translate(-50%, -50%) scale(1.05);
    }

    .topnav {
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      background-color: #333;
      width: 80%;
      position: relative;
      margin-left: 10%;
    }

    .topnav button {
      width: 25%;
      color: white;
      background: #0A2558;
      text-align: center;
      padding: 14px 16px;
      font-size: 17px;
      font-weight: 400;
      box-sizing: border-box;
    }

    .topnav button3 {
          width: 33%;
          color: white;
          background: #0A2558;
          text-align: center;
          padding: 14px 16px;
          font-size: 17px;
          font-weight: 400;
          box-sizing: border-box;
        }

    .topnav button:hover {
      background-color: rgba(153, 204, 255, 0.5);
    }

    .topnav button.active {
      background-color: #08d;
    }

    .topnav .icon {
      display: none;
    }

    .form {
      margin-left: 25%;
      background-color: #0A2558;
      border-radius: 20px;
      box-sizing: border-box;
      padding: 20px;
      width: 50%;
    }

    .title {
      color: #eee;
      font-size: 30px;
      font-weight: 550;
    }

    .subtitle {
      color: #eee;
      font-size: 14px;
      font-weight: 600;
      margin-top: 10px;
    }

    .input-container {
      height: 50px;
      position: relative;
      width: 100%;
    }

    .input-container2 {
        height: 200px;
        position: relative;
        width: 100%;
    }

    .ic1 {
      margin-top: 40px;
    }

    .ic2 {
      margin-top: 30px;
    }

    .input {
      background-color: #303245;
      border-radius: 12px;
      border: 0;
      box-sizing: border-box;
      color: #eee;
      font-size: 18px;
      height: 100%;
      outline: 0;
      padding: 4px 20px 0;
      width: 100%;
    }

    .cut {
      background-color: #0A2558;
      border-radius: 10px;
      height: 20px;
      left: 20px;
      position: absolute;
      top: -20px;
      transform: translateY(0);
      transition: transform 200ms;
      width: 140px;
    }

    .cut-short {
      width: 50px;
    }

    .input:focus ~ .cut,
    .input:not(:placeholder-shown) ~ .cut {
      transform: translateY(8px);
    }

    .placeholder {
      color: #65657b;
      left: 20px;
      line-height: 14px;
      pointer-events: none;
      position: absolute;
      transform-origin: 0 50%;
      transition: transform 200ms, color 200ms;
      top: 20px;
    }

    .input:focus ~ .placeholder,
    .input:not(:placeholder-shown) ~ .placeholder {
      transform: translateY(-30px) translateX(10px) scale(0.75);
    }

    .input:not(:placeholder-shown) ~ .placeholder {
      color: #808097;
    }

    .input:focus ~ .placeholder {
      color: white;
    }

    .submit {
      background-color: #08d;
      border-radius: 12px;
      border: 0;
      box-sizing: border-box;
      color: #eee;
      cursor: pointer;
      font-size: 18px;
      height: 50px;
      margin-top: 38px;
      // outline: 0;
      text-align: center;
      width: 100%;
    }

    .submit:active {
      background-color: #06b;
    }

    .hide{
        display: none;
    }

    .appearNow{
        display: flex;
    }

    select {
       appearance:none;
       outline:0;
       box-shadow:none;
       border:0!important;
       background: #303245;
       padding: 0 .5em;
       color:#fff;
       text-align: center;
       cursor:pointer;
       font-size: 1em;
       background: #303245 url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'><path fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>") right .75rem center/8px 10px no-repeat!important;
    }

     .select {
       position: relative;
       display: flex;
       width: 100%;
       line-height: 3;
       background: #303235;
       border-radius: 10px;
    }
    .select::after {
       background: #2b2e2e;
       cursor:pointer;
       pointer-events:none;
       transition:.25s all ease;
    }
    .select:hover::after {
       color: #23b499;
    }

    /* Responsive Media Query */
    @media (max-width: 1550px) {
        .cardResize{
            margin-left: 75%;
        }
    }

    @media (max-width: 1240px) {
      .sidebar{
        width: 60px;
      }
      .sidebar.active{
        width: 220px;
      }
      .home-section{
        width: calc(100% - 60px);
        left: 60px;
      }
      .sidebar.active ~ .home-section{
        overflow: hidden;
        left: 220px;
      }
      .home-section nav{
        width: calc(100% - 60px);
        left: 60px;
      }
      .sidebar.active ~ .home-section nav{
        width: calc(100% - 220px);
        left: 220px;
      }

      .cardResize{
        margin-left: 70%;
      }
    }

    @media (max-width: 1700px) {
        .cardResize{
            margin-left: 75%;
        }
    }

    @media (max-width: 1400px) {
        .cardResize{
            margin-left: 68%;
        }
    }

    @media (max-width:  1050px) {
        .cardResize{
            margin-left: 65%;
        }
    }

    @media (max-width: 900px) {
        .cardResize{
            margin-left: 50%;
            visibility: hidden;
        }
    }

    @media (max-width: 700px) {
      nav .sidebar-button .home,
      nav .profile-details,
      nav .profile-details i{
        display: none;
      }

      nav .admin_name{
        text-align: center;
      }

      .home-section nav .profile-details{
        height: 50px;
        min-width: 40px;
      }

      .open-popup{
        width: 300px;
      }

      .cardResize{
        margin-left: 25%;
        visibility: hidden;
      }
    }

    @media (max-width: 400px) {
      .sidebar{
        width: 0;
      }
      .sidebar.active{
        width: 60px;
      }
      .home-section{
        width: 100%;
        left: 0;
      }
      .sidebar.active ~ .home-section{
        left: 60px;
        width: calc(100% - 60px);
      }
      .home-section nav{
        width: 100%;
        left: 0;
      }
      .sidebar.active ~ .home-section nav{
        left: 60px;
        width: calc(100% - 60px);
      }

      .open-popup{
        width: 300px;
      }

      .cardResize{
        visibility: hidden;
        margin-left: 5%;
      }
    }